html,
body {
    background-color: aquamarine;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
}

.cell {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: black 1px solid;
}

#board {
    margin: 0 auto;
    width: 770px;
}

.piece {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: red;
}
